*{
     margin: 0px;
     padding: 0px;
}
.title {
     padding: 25px;
     width: 100%;
     margin: 0 auto;
     text-align: center;
}
.title h2 {

}
.title p {

}
/* create classes to toggle for jQuery fun */
.wrapper {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     padding: 50px 0px;
}
.static {
     width: 100px;
     height: 100px;
     background-color: blue;
     text-align: center;
     color: white;
}
.five {
     height: 100px;
     width: 100px;
     background-color: blue;
     text-align: center;
     color: white;
}

.active {
     display: inline-block;
     animation: grow-color-change 3s infinite;
     animation-timing-function: ease-in-out;
     animation-direction: alternate;
}
@keyframes grow-color-change {
     0% {background-color: red; height: 200px; width: 200px;}
     100% {background-color: blue; height: 300px; width: 300px;}
}
